<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/jdbc
                    http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
http://www.springframework.org/schema/jdbc ">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:~/apps/h2db/crm;AUTO_SERVER=TRUE"/>
        <property name="username" value="sa"/>
        <property name="password" value="sa"/>
    </bean>

    <bean id="myConnectionMaker" class="toby.user.dao.DConnectionMaker"/>
    <bean id="userDao" class="toby.user.dao.UserDao">
        <property name="connectionMaker" ref="myConnectionMaker" />
        <property name="dataSource" ref="dataSource"/>
        <property name="jdbcContext" ref="jdbcContext"/>

    </bean>

    <bean id="jdbcContext" class="toby.user.dao.JdbcContext">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <jdbc:initialize-database data-source="dataSource" ignore-failures="ALL">
        <jdbc:script location="classpath:/ddl-for-mysql.sql"/>
    </jdbc:initialize-database>
</beans>